{% extends 'header.html' %}
{% load static %}
{% block head %}
    <style>
    .bg-img{background: url("{% static 'images/header.JPEG'%}");  height: 500px; background-size: 100% 100%;}
    .trans{background: rgba(10, 8, 69,0.5);}
    #icon1,#icon2,#icon3{font-size: 30px;padding-top: 20px;}
    .mid2-img{ background: url("{% static 'images/header.JPEG'%}");  background-size: cover;}
    
    </style>
{% endblock %}
</head>
{% block myblock%}
    <section>
    <div class="container-fluid">
        <div class="row bg-img">
            <div class="col-md-12 text-center text-white trans">
          <h1 class="" style="margin-top:300px;">Contact Us</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523618!2d76.6924771144611!3d30.716822693451657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1580990424436!5m2!1sen!2sin" 
                height="400px" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>  
            </div>
        </div>
        <div class="row mt-5">
            <h1>Get in Touch</h1>
        </div>
        <div class="row">
            <div class="col-md-8 px-0">
                <form action="" class="mt-1">
                    <div class="form-group">
                        <textarea style="height: 120px;" name="" class="form-control" placeholder="Name"></textarea>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <input type="text"class="form-control mt-3" placeholder="Enter your Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text"class="form-control mt-3"placeholder="Email">
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <input type="text"class="form-control mt-3" placeholder="Enter Subject">
                </div>
                <div class="btn p-3  pr-5 pl-5 btn-outline-warning mt-411">SEND</div>
                </form>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home ml-5 text-secondary" id="icon1"></i>
                <span class="pl-2 font-weight-bold">Buttonwood, California.</span>
                <p class="text-secondary" style="padding-left: 95px;">Rosemead, CA 91770</p>

                <i class="fas fa-mobile ml-5 text-secondary" id="icon2"></i>
                <span class="pl-2 font-weight-bold">&nbsp;+1 253 565 2365</span>
                <p class="text-secondary" style="padding-left: 95px;">Mon to Fri 9am to 6pm</p>

                <i class="fas fa-envelope ml-5 text-secondary" id="icon3"></i>
                <span class="pl-2 font-weight-bold">Buttonwood, California.</span>
                <p class="text-secondary" style="padding-left: 95px;">Rosemead, CA 91770</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mid2-img">
            <div class="col-md-6 text-white trans">
                <h1 class="pl-3 my-5 py-4">Add your Propery for Sale</h1>
            </div>
            <div class="col-md-3 text-white text-center trans">
                <h5 class="my-5 py-5">+10 637 367 4567</h5>
            </div>
            <div class="col-md-3 text-white text-center trans pt-5">
                <button class="btn btn-outline-light rounded-pill my-5">Add Property</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}


