{% extends 'header.html' %}
{% load static %}
{% block head %}
    <style>
        .img{
            background: url("{% static 'images/img2.JPG'%}"); background-size: cover;
        }
        .trans{
            background: rgba(20, 18, 15, 0.5);;
        }
    </style>
{% endblock %}

{% block myblock %}
    <div class="container-fluid">
        <div class="row img">
            <div class="col-md-6 mx-auto p-5 my-5 text-white trans">
                <form action="">
                    <div class="form-group text-center">
                        <span style="font-size: 50px;"><i class="fas fa-user"></i></span>
                        <h1><strong>Sign Up</strong></h1>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control bg-transparent text-white" required>
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control bg-transparent text-white" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control bg-transparent text-white">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                            <input type="password" id="pwd" class="form-control bg-transparent text-white" onkeyup="check()"
                                required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" 
                                title="Password must contain atleast 8 characters(uppercase,lowercase,number,special symbol)">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-white"><i class="fas fa-eye" id="icon"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group">
                            <input type="password" id="cpwd" class="form-control bg-transparent text-white" onkeyup="check()"
                                required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" 
                                title="Password must contain atleast 8 characters(uppercase,lowercase,number,special symbol)">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-white"><i class="fas fa-eye" id="icon1"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control bg-transparent text-white" required>
                    </div>
                    <div class="form-group">
                        <label>Contact</label>
                        <input type="text" class="form-control bg-transparent text-white" pattern="[0-9]{10}" 
                            title="Contact Number should be in digits only and 10 digits" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary form-control">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function check(){
            let p = $("#pwd").val();
            let cp = $("#cpwd").val();
            if(p==cp){
                $("#pwd").css({border:"2px solid skyblue"});
                $("#cpwd").css({border:"2px solid skyblue"});
            }
            else{
                $("#pwd").css({border:"2px solid red"});
                $("#cpwd").css({border:"2px solid red"});
            }
        }
        $(function(){
            $("#icon").click(function(){
                let a=$("#pwd").attr("type");
                if(a=="password"){
                    $("#pwd").attr("type", "text");
                    $("#icon").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
                }
                else{
                    $("#pwd").attr("type", "password");
                    $("#icon").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
                }  
            })
            $("#icon1").click(function(){
                let a=$("#cpwd").attr("type");
                if(a=="password"){
                    $("#cpwd").attr("type", "text");
                    $("#icon1").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
                }
                else{
                    $("#cpwd").attr("type", "password");
                    $("#icon1").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
                }  
            })
        })
    </script>

{% endblock %}